/* .nav-link:hover::after{
  content: '';
  display: block;
  border-bottom: 2px solid #aaa;
  width: 50%;
  margin: auto;
} */

.navbar{
  margin:0;
}

a:hover {
  text-decoration: none;
}

h3 {
  font-family:'Lato', sans-serif;
}

h5 {
  font-family:'Lato', sans-serif;
  color: #101010;
}

h4, h6 {
  font-family: 'Lato', sans-serif;
  margin: 30px 0;
  color: #101010; 
}

.Mainpage span {
  font-weight: bold;
}

/* 
section {
  margin: 20px auto;
} */


/* ======== Mainpage ========  */
.Mainpage {
  height: 700px;
  color: white;
  background: no-repeat;
  background-size: cover;
  background-image: url(../PIC/frontpage5.jpg);
}

.Mainpage a:hover {
  border-bottom: 1px solid #fff;
}

.Mainpage h1{
  font-size: 2em; 
  padding-top: 200px; 
  margin-left: 150px; 
  text-transform: uppercase;
}

.Mainpage p{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: .75em;
  margin-left: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Mainpage button:hover{
  cursor: pointer;
}

.Mainpage button {
  color: white;
  background: transparent; outline: none;
  position: relative;
  border: 2px solid #fff;
  margin-left: 150px;
  padding: 15px 50px;
  overflow: hidden;
}

/*button:before (attr data-hover)*/
.Mainpage button:hover:before{
  opacity: 1; 
  transform: translate(0,0);
}

.Mainpage button:before{
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}
  /*button div (button text before hover)*/
  .Mainpage button:hover div{
    opacity: 0; 
    transform: translate(100%,0);
  }

  .Mainpage button div{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#aaa;
}

.footer-links
{
  padding-left:0;
  list-style:none;
}

.footer-links a {
  position: relative;
  display: inline-block;
  color: #737373;
  overflow: hidden;
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}

.footer-links a:hover::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer-links a::before {
  position: absolute;
  content: attr(data-content);
  color: darkgray;
  text-decoration: underline;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}

.site-footer .social-icons
{
  text-align:right;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#818a91;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#aaa;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#aaa;
  background-color:#29aafe
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

.social-icons a.github:hover
{
  background-color:#757575
}

/* ======== End Of Mainpage ======== */


/* ======= Biography Page ======== */

.bio h2 {
  text-align: center;
  font-weight: 400;
}

/* Scroll Top */ 

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* End of Scroll Top */

.holder-bio {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 100px 70px; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

/* Content */

.content {
  margin-bottom: 50px;
}

.content p {
  font-weight: 100;
  text-align: justify;
  margin-top: 20px;
}

.content img:hover {
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

/* End of Content */

/* Hobby */

.hobby {
  padding-top: 50px;
}

.flip {
  position: relative;
}
.flip > .front, .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 280px;
}

.flip > .front, .flip > .back {
  display: block;
  text-align: left;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 200px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p, .flip > .back p {
  font-size: 0.95rem;
  
  line-height: 100%;
  color: #aaa;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1 rem 1rem rgba(0, 0, 0, 0.04);
}

/* End of Hobby */


/* Gallery */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px 20px;
}

.grid-item {
  padding: 20px;
}

.grid-item img {
  width: 100%;
}

/* The Modal (background) */

.Gallery .modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(34,34,34,0.9);
}

/* Modal Content */
.Gallery .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 90%;
  max-width: auto;
}

  /* The Close Button */
  .Gallery .close {
    color: white;
    position: absolute;
    margin-top: -40px;
    right: 20px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .Gallery .close:hover,
  .Gallery .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #aaa;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: left;
  background: rgba(34,34,34,0.9);
  padding: 5px 0;
  color: white;
}

.Gallery img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End of Gallery */

/* Quotes */

.Quotes h5 {
  font-weight: 500;
  font-style: italic;
}

/* Quotes */

/* Testi */
.testi img {
  width: 180px;
}

.testi h4 {
  color: black;
  font-weight: 400;
  margin: 10px auto;
}

.testi .figure-caption {
  margin-bottom: 50px;
}


/* End of Testi */

/* ======== End Of Biography Page ======== */


/* ======== Resume Page ======== */

.nav-link {
 text-transform: uppercase; 
 font-size: 14px;
}

.section-big-title {
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
  display: inline-block;
  font-size: 150px;
  font-weight: 600;
  z-index: -1;
  margin: 0;
  color: #ececec;
}


.time-item {
  padding: 15px 0;
  position: relative;
}

.time-year {
  position: absolute;
  top: 40%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  color: #ececec;
  opacity: 1;
  font-weight: 400;
}

.Resume .jumbotron {
    height: 650px;
    background-size: cover;
    background-image: url(../PIC/fog.jpg);
    margin-bottom: 0;
}

img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
    display: inline-block;
    border: 1px solid #f8f8f8;
    padding: 5px 20px;
    margin-top: 100px;
    color: white;
}

.main-title {
    margin: 30px 0;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.tagline {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

section {
  margin-bottom: 30px;
  padding: 50px 0 0 0; 
  position: relative;
}

.holder {
    border: 1px solid #aaa;
    padding: 50px 30px 50px; 
}

.skill-holder {
    border: none;
  }

.texture {
    background: url("../PIC/texture.png");
}

.modal-body {
  font-family: Montserrat, sans-serif;
}

/* LINE ART */

.line-art-top{
  position: absolute;
  top:0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  margin-top: -14px;
}

.line-art-bottom{
  position: absolute;
  bottom:0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  margin-bottom: -14px;
}


.line-art-left{
  position: absolute;
  top:50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
}

.line-art-right{
  position: absolute;
  top:50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 5px;
}

.line-art-top div, .line-art-bottom div, .line-art-left div, .line-art-right div{
  background: #101010;
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line-art-top div:nth-child(1), .line-art-top div:nth-child(2), .line-art-top div:nth-child(3), .line-art-top div:nth-child(4),
.line-art-bottom div:nth-child(1), .line-art-bottom div:nth-child(2), .line-art-bottom div:nth-child(3), .line-art-bottom div:nth-child(4),
.line-art-left div:nth-child(1), .line-art-left div:nth-child(2), .line-art-left div:nth-child(3), .line-art-left div:nth-child(4),
.line-art-right div:nth-child(1), .line-art-right div:nth-child(2), .line-art-right div:nth-child(3), .line-art-right div:nth-child(4){
  margin: 5px;
}

/* End Of Line Art */

/* Button */

.btn {
    border-radius: 40px;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 10px;
}

/* End of Button */

.exp {
  list-style: circle;
}

.exp li{
  margin-top: 20px;
}

.contact li {
  list-style: none;
  margin-top: 20px;
}

/* Icon and Tooltip */

ion-icon {
    font-size: 21px;
    position: relative;
    margin-top: 15px;
}

.cv-download {
    float: right;
    color: #101010;
}

.tooltip-cl {
    display: inline;
    position: relative;
}

.tooltip-cl:hover:after {
    background: #101010;
    bottom: 35px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    content: attr(data-tooltip);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 110px;
}

/* End of icon and tooltip */

/* Socmed */

.socmed .fa {
  size: 20px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #101010;
}

/* End of socmed */

/* Progress Bar Animation */

.progress {
    font-weight: 400;
    margin-top: 3px;
}

.progress-bar {
    width: 0;
    animation: progress 2.5s ease-in-out forwards;
} 
  
 @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
 @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* End of Progress Bar Animation */


.text-bar {
  margin: 20px 0 20px 0;
}

.Left {
  text-align: left;
  color: #aaa;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

.Right {
  float: right;
}

/* Card */

.card-text {
    font-family: Montserrat, sans-serif;
}

.card {
    transition: transform .2s;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

.card:hover {
    transform: scale(1.05); 
}

/* End of Card */

/* Circle around content */
.circle {
    padding: -15px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

.circle h5 {
    margin-top: 40px;
  }

/* The circles on the Grid */
.circle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid;
    top:0px;
    margin-left: -43px;
    border-radius: 50%;
    z-index: 1;
  }

/* Input Contact */

form {
  width: 320px;
  margin: 30px auto;
}

form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}

.group {
  position: relative;
  margin: 20px 0;
}

textarea {
  resize: none;
}

input {
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

textarea {
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 600px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #aaa;
}

input:focus ~ .bar:before {
  width:250px;
}

textarea:focus ~ .bar:before {
  width: 600px;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 250px;
}

textarea .bar {
  position: relative;
  display: block;
  width: 700px;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #aaa;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  font-weight: 500;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

/* End of Input Contact */

/* Modal Popup Maps */

.map-container-9,
.map-container-10,
.map-container-11 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-9 iframe,
.map-container-10 iframe,
.map-container-11 iframe{
left:0;
top:50;
height:100%;
width:100%;
position:absolute;
}

/* End Of Modal Popup Maps */

/* Footer Experience */

.footer {
  margin-top: 10px;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.i-list {
    color: black;
    font-size: 18px;
}

.i-list::after{
  content: '';
  display: block;
  border-bottom: 2px solid black;
  width: 50%;
  margin: 20px 0;
}

/* End of footer Experience */

/* Responsive */

@media (max-width:480px) {

/* Mainpage */
.navbar{
  margin:0;
  }
}



@media (max-width:767px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  /* Mainpage */
  
  .Mainpage .Resume {
    margin: 0 auto;
  }

  .Mainpage h1{
    font-size: 1.5em; 
    padding-top: 200px; 
    margin-left: 100px; 
    text-transform: uppercase;
  }
  
  .Mainpage p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: .75em;
    margin-left: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .Mainpage button:hover{
    cursor: pointer;
  }
  
  .Mainpage button {
    color: white;
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #fff;
    margin-left: 100px;
    padding: 15px 50px;
    overflow: hidden;
  }

  .footer-links a:hover::after{
    content: '';
    color: #aaa;
  }

  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }


  /* Biography */

  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 150px;
  }

  .jkt {
    margin-top: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 20px;
  }
  
  .grid-item {
    padding: 15px;
  }

  .grid-item img {
    width: 100%;
  }
  
  .time-year {
      margin-top: 20px;
      position: relative;
      font-size: 15px;
      color: #101010;
      font-weight: 400;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }

  /* Resume */

  .Resume {
    padding-top: 50px;
  }

  .main-title {
    margin: 30px 0;
    font-size: 38px;
    font-weight: 400;
    color: #fff;
  }

  .tagline {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
  }

  .cv-download {
    text-align: right;
    margin-left: 15em;
    margin-top: 5px;
    color: #101010;
}

  textarea {
    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }

  textarea:focus ~ .bar:before {
    width: 250px;
  }

  textarea .bar {
    position: relative;
    display: block;
    width: 250px;
    }
  }

  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }

.social-icons li.title
{
    display:block;
    margin-right:0;
    font-weight:600;
  }

/* End Of Responsive */

/* ======== End Of Resume Page ======== */
